body {
    background: black;
    font-family: "Georgia";
    font-style: oblique;
    text-decoration: underline;
    color: black;
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar {
    display: none;
}

canvas {
    z-index: -9999999;
    position: fixed;
    top: 50vh;
    left: 0;
}

#topFlag h1 {
    display: inline-block;
    max-width: 60vw;
    max-height: 50vh;
    color: yellow;
    text-decoration: underline;
    position: absolute;
    right: 40px;
    bottom: 20px;
    font-size: 5vh;
    hyphens: none;
    margin-top: 20px;
    margin-bottom: 0px;
    text-align: right;
    overflow: hidden;
}

@media (min-width: 1200px) {
    #topFlag h1 {
        font-size: 50px;
    }
}

@media (max-height: 500px) {
    #topFlag h1 {
        font-size: 7vh;
    }
}

#topFlag h1:hover {
    color: black;
    cursor: default;
}

#flag {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 1;
}

#topFlag {
    width: 100%;
    height: 50%;
    box-sizing: border-box;
    position: relative;
    background: yellow;
    margin: 0px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#topFlagBG {
    width: 100%;
    height: 50%;
    position: fixed;
    background: yellow;
    top: 0px;
    left: 0px;
    z-index: 0;
}

#topFlag a {
    width: 100%;
    display: inline-block;
    color: yellow;
    font-weight: 600;
    margin-left: 5px;
    margin-bottom: 10px;
}

#topFlag a:hover {
    color: black;
    margin-left: 5px;
    margin-bottom: 10px;
}

#bottomFlag {
    width: 100%;
    height: 50%;
    background: none;
    margin: 0px;
}

.bottomFlagBG {
    width: 100%;
    height: 50%;
    position: fixed;
    background: black;
    top: 50vh;
    left: 0px;
    z-index: -9999999;
}

.linkContain {
    position: absolute;
    bottom: 20px;
    ;
    width: 200px;
    height: auto;
}










/* Deep Pages */








.topFlagDeep {
    width: 100%;
    height: auto;
    position: relative;
    background: yellow;
    margin: 0px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: scroll;
}

.topFlagDeep a {
    display: inline-block;
    width: auto;
    color: black;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

#flagDeep {
    width: 100vw;
    height: auto;
    overflow: hidden;
    z-index: 1;
}

#homeLink {
    position: fixed;
    right: 30px;
    text-align: right;
}

.bottomFlagDeep a {
    display: inline-block;
    position: relative;
    color: yellow;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
    margin-right: 20px;
    text-align: right;
}

#bottomFlagBook {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    min-height: 100vh;
    background: black;
    top: 0px;
    margin: 0;
    padding-top: 60px;
    padding-left: 40px;
    padding-right: 40px;
    color: white;
    text-align: justify;
    z-index: 9999999;
}

.deepNav {
    position: fixed;
    top: 30px;
    right: 30px;
    width: auto;
    display: flex;
    flex-direction: row;
    z-index: 100;
}

.highlight {
    color: yellow;
}

.archiveIMG {
    max-height: 70vh;
    margin-bottom: 40px;
    border: 1px solid black;
}